*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace
}

.nav-bar{
  background-color: #FFFFFF;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container{
  display: flex;
  align-items: center;
  flex: 3;
  margin-left: 1vw;
}

.logo-container img{
  border-radius: 50%;
  border: 1px solid black;
}

.logo-container h4{
  margin-left: 2vw;
  font-size: 2vw;

}

.links-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 4;
  margin-left: 2vw;
}


.links-nav a{
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  font-weight: 900;
}

.hero{
  background-color: #0E1646;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.hero-info{
  color: #FFFFFF;
  font-size: 5vw;
  font-style: italic;
  padding: 2vw;
}

.hero-info button{
  padding: 1vw 2vw;
  margin: 1vw;
  border-radius: 5px;
  cursor: pointer;
}

.hero-image {
  margin-left: 5vw;
}

.projects-btn{
  background-color: #0A1A34;
  color: white;
  font-weight: bold;
  border: 2px solid black;
}


.contact-btn{
  background-color: #38506F;
  color: white;
  font-weight: bold;
  border: 2px solid black;
}

.about-info{
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  flex-direction: row;
}

.about-story{
  flex: 4;
  text-align: left;
  line-height: 2.1vw;
  font-size: 1.3vw;
}

.about-story h3{
  font-size: 2vw;
}

.about-skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex: 3;
}

.about-skills h2{
  font-size: 2vw;
  margin-bottom: 8vw;
}

.about-skills-icons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}

.projects-section{
  min-height: 200vh;
  padding: 2vw;
}

.projects-section h2{
  font-size: 3.5vw;
}

.project1{
  display: flex;
  align-items: start;
  justify-content: center;
  margin-left: 1vw;
  padding: 1vw;
  margin: 2vw;
}

.project1-img-name h4{
  font-size: 3vw;
}

.project1-img-name img{
  border-radius: 5px;
  border: 2px solid black;
}

.project1-info-link{
  padding: 1vw;
  
}

.text{
  text-align: left;
}
.text span{
  font-size: 1.7vw;
}

.links{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1vw;
  gap: 2vw;
  
}

.demo-link{
  padding: 1vw 2vw;
  border: 1px solid black;
  background-color: #38506F;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


.source-code{
  padding: 1vw 2vw;
  border: 1px solid black;
  background-color: #0E1646;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.contact-div{
  height: 120vh;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-div span{
  font-size: 2vw;
}

.contact-form{
  height: 80vh;
  width: 60%;
  background-color: #FFFFFF;
  display: flex;
  position: relative;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  border: 2px solid rgba(0, 0, 0, 0.1); /* Light border with opacity */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


form{
  flex: 5;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


form input{
  padding: 1vw 2vw;
}

form button{
  background-color: #0E1646;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
}
.contact-image{
  flex: 5;
}

.contact-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer{
  background-color: #0E1646;
  height: 35vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.footer-links{
  display: flex;
  gap: 3vw;
}
footer a{
  text-decoration: none;

}